<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="model/extLibrary.creationmenumodel">
      </menuCreationModel>
   </extension>-->
   
   <!-- Register Semantic elementype -->
   <extension point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/extLibrary.elementtypesconfigurations">
      </elementTypeSet>
   </extension>

    <!-- Reister new chil menu -->
    <extension point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel model="resources/libraryNodes.creationmenumodel"></menuCreationModel>
   </extension>    
    
</plugin>
