<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.navigation.navigationContributor">
      <contributor
            contributor="org.eclipse.papyrus.training.library.navigation.SameCategoryNavigationContributor"
            description="Allow to navigate to book from the same category"
            id="org.eclipse.papyrus.training.library.navigation.samecategory"
            label="Same category's books">
      </contributor>
   </extension>
</plugin>
