<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
 	<!-- add a "transformation" to the new model wizard -->
    <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <transformation
            Transformation="org.eclipse.papyrus.training.library.wizard.ImportLibraryTemplateInModel"
         	id="org.eclipse.papyrus.training.library.wizard.templaterepository.ImportLibraryExampleInModel"
            language="org.eclipse.papyrus.training.library.architecture" 
            name="An example of Transformation Library Model"><!-- Language is an important key that should be matched by architecture id -->
      </transformation>           
  </extension>
 
	<!-- add "template" to the new model wizard --> 
     <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates"> 
      <template
     		id="org.eclipse.papyrus.training.library.wizard.templaterepository.TemplateExampleModel"
     		language="org.eclipse.papyrus.training.library.architecture"
            name="An example of Template of Library Model"
            file="resources\LibraryTemplateModel.uml"      
            notation_file="resources\LibraryTemplateModel.notation"
            di_file="resources\LibraryTemplateModel.di"><!-- Language is an important key that should be matched by architecture id -->
      </template>            
  </extension>
</plugin>
