<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   	<!-- creation of a "library model" -->
     <extension point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
	     <diagramCategory
	     		id="org.eclipse.papyrus.training.library.architecture"
	            class="org.eclipse.papyrus.training.library.wizard.TrainingLibraryModelCreationCommand"
	            icon="platform:/plugin/org.eclipse.papyrus.training.library.profile/icons/library.gif"
	            label="Training Library" description="Training Library diagrams"><!-- id is an important key that should be matched by viewpoint category -->
	     </diagramCategory>
    </extension>  
 
 	<!-- add a "transformation" to the new model wizard -->
    <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <transformation
            Transformation="org.eclipse.papyrus.training.library.wizard.ImportLibraryTemplateInModel"
         	id="org.eclipse.papyrus.training.library.wizard.templaterepository.ImportLibraryExampleInModel"
            language="org.eclipse.papyrus.training.library.architecture" 
            name="An example of Transformation Library Model"><!-- Language is an important key that should be matched by diagramCategory id and viewpoint category -->
      </transformation>           
  </extension>
 
	<!-- add "template" to the new model wizard --> 
     <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates"> 
      <template
     		id="org.eclipse.papyrus.training.library.wizard.templaterepository.TemplateExampleModel"
     		language="org.eclipse.papyrus.training.library.architecture"
            name="An example of Template of Library Model"
            file="resources\LibraryTemplateModel.uml"      
            notation_file="resources\LibraryTemplateModel.notation"
            di_file="resources\LibraryTemplateModel.di"><!-- Language is an important key that should be matched by diagramCategory id and viewpoint category -->
      </template>            
  </extension>
</plugin>
