<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Papyrus Photon" sequenceNumber="1530191620">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.project" version="0.0.0"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.common.ui" version="0.0.0"/>
      <unit id="org.eclipse.ocl.core.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.uml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.common_core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xwt.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <repository id="eclipse-photon" location="http://download.eclipse.org/releases/photon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.views.properties.model.xwt" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.toolsmiths.feature.feature.group" version="0.0.0"/>
      <repository id="papyrus-photon" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/photon"/>
    </location>
  </locations>
</target>
