<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2015 CEA LIST.
 
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
 
  Contributors:
  Benoit Maggi (CEA LIST) benoit.maggi@cea.fr - Initial API and implementation
-->

<plugin>
 
 	<!-- Register the viewpoint to the default papyrus viewpoint -->
    <extension point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <contribution
            file="resources/libraryContribution.configuration"
            original="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/builtin/default.configuration">
      </contribution>
   </extension>
 
 
   <!-- Register the viewpoint as an independant contribution 
   <extension point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="resources/libraryStandalone.configuration"
            priority="10">
      </configuration>
   </extension>-->
   
</plugin>
