<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension name="org.eclipse.papyrus.training.library.constraintProviders" point="org.eclipse.emf.validation.constraintProviders">
      <category id="org.eclipse.papyrus.training.library.category" mandatory="false" name="Library Example Validation Category"/>
	  <constraintProvider cache="false" mode="Batch">
         <package namespaceUri="http://Papyrus/ExtLibraryProfile"/>
         <constraints categories="org.eclipse.papyrus.training.library.category">   
            <constraint id="constraint.twice.books"  isEnabledByDefault="true" lang="Java" mode="Batch" severity="WARNING" statusCode="3" name="twice.books"
            class="org.eclipse.papyrus.training.library.validation.NoBookTwiceOneShellModelConstraint">
               <message>This shell show duplicated books</message>
            </constraint>                                                                                                                                       
         </constraints>
      </constraintProvider> 
	  <constraintProvider cache="false" mode="Batch">
         <package namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML"/>
         <constraints categories="org.eclipse.papyrus.training.library.category">   
            <constraint id="constraint.twice.books"  isEnabledByDefault="true" lang="Java" mode="Batch" severity="WARNING" statusCode="3" name="twice.books"
            class="org.eclipse.papyrus.training.library.validation.NoBookTwiceOneShellModelConstraint">
               <message>This shell show duplicated books</message>
            </constraint>                                                                                                                                     
         </constraints>
      </constraintProvider>        
  </extension>     
  <extension name="org.eclipse.papyrus.training.library.constraintBindings" point="org.eclipse.emf.validation.constraintBindings">  
      <clientContext id="LibraryContext">
         <selector class="org.eclipse.papyrus.training.library.validation.LibrarySelector"/>
      </clientContext>
      <binding context="LibraryContext">
         <constraint ref="org.eclipse.papyrus.training.library.validation.constraint.minimum.books"/>
      </binding>  
      <clientContext id="BookAContext">
         <selector class="org.eclipse.papyrus.training.library.validation.BookSelector"/>
      </clientContext>
      <binding context="BookAContext">
         <constraint ref="org.eclipse.papyrus.training.library.validation.constraint.minimum.pages"/>
      </binding>   
      <clientContext id="AAATrueSelector">
         <selector class="org.eclipse.papyrus.training.library.validation.TrueSelector"/>
      </clientContext>  
      <binding context="AAATrueSelector">
         <constraint ref="org.eclipse.papyrus.training.library.validation.constraint.twice.books"/>
      </binding>               
 	</extension>

</plugin>
